.patient-form-page__full-div{
    box-sizing: border-box;
    width: 100%;
    /* height: calc(100vh - 70px); */
    height: 100vh;
    background-color: #ED3237;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    padding: 70px 40px 0 40px;
}

.patient-form-page__logo-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
}

.patient-form-page__tagline__div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-form-page__logo-div__blood-icon{
    font-size: 5rem;
    color: white;
}

@media(max-width : 650px){
    .patient-form-page__tagline__div{
        display: block;
        text-align: center;
    }
}

.patient-form-page__logo-div__text{
    font-family: 'Barlow Condensed';
    color: white;
    font-size: 5rem;
    display: table-cell;
    vertical-align: middle;
}

.patient-form-page__bottom-arrow__div{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.patient-form-page__bottom-arrow{
    display: flex !important;
    font-size: 5rem;
    color: white;
}

.patient-form-page__bottom-arrow1{
    transform: translateY(60px);
    animation: arrow1 1s linear infinite;
}

.patient-form-page__bottom-arrow2{
    animation: arrow2 1s linear infinite;
}

@keyframes arrow1 {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    50%{
        opacity: 1;
        transform: translateY(70px);
    }
    100%{
        opacity: 0;
        transform: translateY(60px);
    }
}

@keyframes arrow2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

.patient-form-page__form-div{
    width: 100%;
    /* min-width: 20rem; */
    height: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e3e3e387;
    box-shadow: -40px 0 0 0 #e3e3e387;
}

.patient-form-page__form{
    width: 100%;
    height: fit-content;
    background-color: #fff;
    /* border: 2px solid #cccccc; */
    border-radius: 2px;
    padding: 80px 40px;
    max-width: 50rem;
    transform: translateX(40px);
}

.patient-form-page__header{
    font-family: 'Barlow Condensed';
    font-size: 2.5rem;
    font-weight: 900;
    color: #ED3237;
}

.patient-form-page__header__blood-icon{
    color: #ED3237;
    font-size: 1.8rem;
}

.patient-form-page__logo-div__blood-icon{
    font-size: 5rem;
    color: white;
}

@media(max-width : 500px){
    .patient-form-page__full-div{
        padding-left: 10px;
    }
    
    .patient-form-page__form{
        transform: translateX(0);
    }
}

