.bc-signup-fulldiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    box-sizing: border-box;
}
.bc-signup-leftdiv{
    flex: 1;
    text-transform: capitalize;
    font-size: 3rem;
    color: #FC4F4F;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bc-signup-rightdiv{
    height: 35rem;
    max-height: 100%;
    width: 25rem;
    max-width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}
.signup-card{
    background: #ED3237;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5rem 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
.signup-card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #ff8a8a;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(15px,15px);
}
.card-header{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.signup-top{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
    align-items: center;   
}
.signup-auth{
    align-self: stretch;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    justify-content: center;
}
.signup-auth a{
    align-self: flex-end;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: .8rem;
    text-decoration: none;
    cursor: pointer;
}
.signup-auth a:hover{
    color: #cacaca;
}
.signup-initialstatus-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.signup-phone-prefix{
    display: flex;
    align-items: center;
}
.signup-phone-prefix span{
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
}
.signup-otpstatus-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-phone{
    width: 100%;
}
.btn-auth{
    font-size: 2rem;
    margin-top: 1rem;
    color: #cacaca;
    box-shadow: 2px 2px 5px #b84141;
}
.btn-otp{
    font-size: 1rem;
    color: #444;
    font-size: 1.2rem;
    padding: 4px 5px;
}
.btn-auth:hover{
    box-shadow: none;
}
.goto-login,.link-signup{
    color: #fff;
    font-size: .8rem;
    text-transform: capitalize;
}
.goto-login span{
    margin-right:5px ;
    font-size: .7rem;
    
}
.link-signup{
    font-weight: 700;
    text-decoration: none;
}
.signup-status-div{
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 3rem;
}
.login-status-div span{
    color: #fff;
    font-family: 'Comfortaa', cursive;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: .8rem;
}
.signup-slider{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: inherit;
}
.signup-slider-left,.signup-slider-right{
    position: absolute;
    background-color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}
.signup-slider-right{
    overflow-y: scroll;
    
}
.signup-lebel{
    align-self: flex-start;
    margin-left: 2.2rem;
    font-size: .8rem;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 2px;
}
.slider-2-buttons{
    display: flex;
    align-self: flex-end;
    margin: 1rem 2.2rem;
}
.signup-button{
    margin-left: 10px;
}
@media only screen and (max-width: 600px) {
    .bc-signup-fulldiv{
        padding: 0;
        padding-top: 5rem;
    }
    .bc-signup-leftdiv{
        display: none;
    }
    .bc-signup-rightdiv{
        
    }
  }