.bc-signup-fulldiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    box-sizing: border-box;
    background-color: #ED3237;
}
.bc-signup-leftdiv{
    flex: 1;
    text-transform: capitalize;
    font-size: 3rem;
    color: #ffff;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bc-signup-rightdiv{
    height: 38rem;
    max-height: 100%;
    width: 25rem;
    max-width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    
}
.signup-card{
    background: #f2f2f2;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
.card-header{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: #ED3237;
    background-color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.signup-top{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
    align-items: center;   
}
.signup-auth{
    align-self: stretch;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
    flex-direction: column;
    background-color: inherit;
}
.signup-auth a{
    align-self: flex-end;
    color: #333;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: .8rem;
    text-decoration: none;
    cursor: pointer;
}
.signup-auth a:hover{
    color: #cacaca;
}
.signup-initialstatus-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.signup-phone-prefix{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    
}
.signup-phone-prefix span{
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 1rem;
    width: 2rem;
    color: #333;
}
.signup-otpstatus-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.signup-otpstatus-div a{
    margin-top: 2px;
}
.input-phone{
    width: 100%;
}
.goto-login,.link-signup{
    color: #333;
    font-size: .8rem;
    text-transform: capitalize;
}
.goto-login span{
    margin-right:5px ;
    font-size: .7rem;
    
}
.link-signup{
    font-weight: 700;
    text-decoration: none;
}
.signup-status-div{
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 3rem;
}
.signup-status-div span{
    color: #FD5D5D;
    font-family: 'Comfortaa', cursive;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: .7rem;
    font-weight: 800;
}
.signup-slider{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: inherit;
}
.signup-slider-left,.signup-slider-right{
    position: absolute;
    background-color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: inherit;
}
.signup-lebel{
    align-self: flex-start;
    font-size: .8rem;
    letter-spacing: 1px;
    color: #333;
    margin-top: 1rem;
    margin-bottom: 2px;
}
.signup-age-sex{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.signup-age-sex__age,.signup-age-sex__sex,.signup-age-sex__group{
    flex: 1;

}
.signup-age-sex__age,.signup-age-sex__sex{
    margin-right: 10px;
}   
.signup-age-sex .signup-lebel{
    margin-left: 0;
}
.signup-input_small{
    width: 4rem;
}
.signup-input_small_age{
    width: 3rem;
}
.signup-dropdown{
    width: 3.5rem;
}
.signup-dropdown select,.signup-dropdown select option{
    font-size: .8rem;
}

.slider-2-buttons{
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}
.slider-2-buttons button{
    background-color: #396EB0;
    color: #fff;
    padding: 5px 10px;
}
.signup-button{
    margin-left: 10px;
}
.signup-terms{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.signup-terms input{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.signup-terms span{
    font-size: .8rem;
    color: #333;
    text-transform: capitalize;
    margin-left: 2px;
}
.signup-terms span:nth-child(3){
    font-weight: 600;
    color: #4D77FF;
    cursor: pointer;
}
.signup-terms span:nth-child(3):hover{
    color: #333;
}
@media only screen and (max-width: 600px) {
    .bc-signup-fulldiv{
        padding: 0;
        padding-top: 5rem;
    }
    
    .signup-card{
        padding: 3rem 0rem;
    }
    .bc-signup-leftdiv{
        display: none;
    }
    .bc-signup-rightdiv{
        padding: 2rem 1rem;
    }
    .signup-terms span{
        font-size: .7rem;
    }
  }