.input1{
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding:2px 5px;
    box-sizing: border-box;
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    color: #444;
    box-shadow: 4px 4px 5px #e93c3c;
}
.input1::placeholder{
    color: #cacaca;
    font-size: 1rem;
}
.input1:focus{
    outline: none;
    box-shadow: 4px 4px 5px #9f2020;
}