.opt-fulldiv{
    display: flex;
    justify-content: space-between;
}
.opt-fulldiv input{
    height: 40px;
    width: 40px;
    padding: 3px;
    border: none;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #cacaca;
}
.opt-fulldiv input:focus{
    outline: none;
    box-shadow: 2px 2px 4px #666;
}
.opt-fulldiv input::-webkit-inner-spin-button, 
.opt-fulldiv input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}